@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>欢迎</h1>
    <p class="lead">请先进行账户注册或登陆</p>
    <a href="/Account/Register">注册</a>
    <a href="/Account/Login">登陆</a><br />
    <a href="/Movies">电影列表</a>
</div>